body {
    color: #333333;
    font-family: arial;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // padding-bottom: 51px;
    // position: relative;
}

a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
